[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
iam-credential-rotation = "0.1.1"

[dev-packages]
checkov = "2.3.199"
pre-commit = "3.2.2"

[requires]
python_version = "3.11"
